/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

$theme-red: #730409;
$theme-brown: #3A251C;
$theme-green: #39663F;
$theme-apricot: #EDA073;
$theme-apricot-light: #FDE6D9;
$theme-yellow: #EEC852;
$theme-white: #ECEDEB;

$body-bg: $theme-white;
$body-color: $theme-brown;
$link-color: $theme-green;

$code-color: #cc0000;
$code-block-bg: #E1E8EB;
$code-block-border-color: #000000;

$font-family-sans-serif: 'Roboto Slab', serif;

/*-- scss:rules --*/

.title-background {
  background-color: #ECEDEBCC;
  box-shadow: 10px yellow;
  box-shadow: 0px 0px 40px #ECEDEBCC;
}

.reveal p, li {
  font-weight: 100;
}

.reveal iframe {
  pointer-events: none;
}

.announcement-start * {
  font-size: 200px;
}

.announcement-end * {
  font-size: 200px;
}

.fontsize40 {
  font-size: 50px;
}

code span.fu {
  color: darken($theme-apricot, 30%);
}

code span.at {
  color: darken($theme-yellow, 30%);
}

code span.st {
  color: $theme-green;
}

code span.dv {
  color: $theme-red;
}

.reveal code {
  color: darken($theme-apricot, 30%);
}

.red {
  color: $theme-red;
  font-weight: 300;
}

.green {
  color: $theme-green;
  font-weight: bold;
}
